*{
    margin: 0px;
    padding: 0px;
    ba
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: solid black;
    border-radius: 20px;
    border-style: groove;
    border-width: 40px;
}

.head{
    text-align: center;
    color: blueviolet;
}

#in{
    border-radius: 20px;
    border: solid black;
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 20vw; 
    padding: 10px;
    border-radius: 20px;
    border: solid black;
}

.b1{
    padding: 6px;
    margin: 6px;
    text-indent: 5px;
    border: solid black;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;

}
.b{
    padding: 8px;
    margin: 8px;
    text-indent: 8px;
    border: solid black;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;

}